<nav class="p-4 w-full">
    <ul class="menu bg-base-200 sm:menu-horizontal rounded-box">
        <li>
          <a class="btn" routerLink="andromeda" routerLinkActive="btn-primary">
          <i class="fa-solid fa-code"></i>
            Andromeda
          </a>
        </li>
        <li>
          <a class="btn" routerLink="conectium" routerLinkActive="btn-primary">
          <i class="fa-solid fa-rss"></i>
            Conectium
          </a>
        </li>
        <li>
            <a class="btn" routerLink="holadoc" routerLinkActive="btn-primary">
            <i class="fa-solid fa-house-medical"></i>
            HolaDoc
          </a>
        </li>
        <li>
            <a class="btn" routerLink="ekiipago" routerLinkActive="btn-primary">
            <i class="fa-solid fa-money-bill-wave"></i>
            Ekiipago
          </a>
        </li>
        <li>
            <a class="btn" routerLink="peregrina" routerLinkActive="btn-primary">
            <i class="fa-solid fa-beer-mug-empty"></i>
            Peregrina
          </a>
        </li>
        <li>
            <a class="btn" routerLink="balsamal" routerLinkActive="btn-primary">
            <i class="fa-solid fa-whiskey-glass"></i>
            Balsamal
          </a>
        </li>
        <li>
            <a class="btn" routerLink="spinmovil" routerLinkActive="btn-primary">
            <i class="fa-solid fa-hurricane"></i>
            Spinmovil
          </a>
        </li>
        <li>
            <a class="btn" routerLink="brainbox" routerLinkActive="btn-primary">
            <i class="fa-solid fa-building"></i>
            Brainbox
          </a>
        </li>
      </ul>
</nav>
