<div class="navbar bg-accent shadow-sm">
  <div class="flex-1">
    <a class="btn btn-ghost text-xl text-base-100 font-bold">Oscar Thielen</a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1 text-base-100">
        <li>
            <a class="font-bold" routerLink="/presentation/introduction" routerLinkActive="text-warning">Introduccion</a>
        </li>
        <li>
            <a class="font-bold" routerLink="/presentation/andromeda" routerLinkActive="text-warning">Andromeda</a>
        </li>
        <li>
            <a class="font-bold" routerLink="/presentation/finanzas" routerLinkActive="text-warning">Finanzas</a>
        </li>
        <li>
            <a class="font-bold" routerLink="/presentation/miRecorrido" routerLinkActive="text-warning">Mi Recorrido</a>
        </li>
     
    </ul>
  </div>
</div>