<!-- carousel.component.html -->
<div class="w-screen mb-10 overflow-hidden">
  <div class="swiper" #swiperDiv>
    <div class="swiper-wrapper">
      @for (image of images; track $index) {
        <div class="swiper-slide">
          <img 
            [src]="image" 
            alt="Producto" 
            class="w-full h-[250px] sm:h-[350px] md:h-[500px] lg:h-[600px] object-cover rounded-xl animate__animated animate__fadeIn"
          />
        </div>
      }
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-scrollbar"></div>
  </div>
</div>
