<div
  class="hero min-h-screen"
  style="background-image: url('assets/fiestaAndromeda.jpeg');"
>
  <div class="hero-overlay"></div>
  <div class="hero-content text-neutral-content text-center">
    <div class="max-w-md">
      <!-- <img [src]="logo" alt="Logo Andrómeda" class="w-28 h-28 object-contain" /> -->
      <h1 class="mb-5 text-5xl font-bold font-montserratAlt">Universo <span class="text-accent">Andromeda</span></h1>
      <p class="mb-5 text-3xl ">
        {{ slogan}}
      </p>
      <button routerLink="/presentation" class="btn btn-outline btn-accent">Get Started</button>
    </div>
  </div>
</div>